ul{
    float: left;
    list-style: none;
    padding: 0px;
    border: 1px solid black; 
    margin-top: 0px;
}

#Searchbox1 ul{
    width: 250px;
}

li:hover{
    color: silver;
    background-color: #04A777;
}